.result {
  list-style: none;
  float: left;
  width: 400px;
  padding: 10px;
  border-top: solid 1px rgb(245, 245, 245);
  border-bottom: solid 1px rgb(245, 245, 245);
  color: black;
}

.result span + span {
  float: right;
  padding-right: 95px;
}
